name: Docker CI/CD

on:
  push:
  schedule:
    - cron: "0 0 * * *" # Runs at 00:00 UTC every day

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.3.0

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          password: ${{ secrets.GHT }}
          registry: ghcr.io
          username: ${{ github.repository_owner }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          path: /tmp/.buildx-cache
          restore-keys: ${{ runner.os }}-buildx-

      - name: Set Tags
        run: echo "IMAGE_TAG=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/php:${{ env.IMAGE_TAG }}

      - name: Build and push Latest Docker image
        if: ${{ env.IMAGE_TAG  == '7.4' }}
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/php:latest
